UseTab: Always
IndentWidth: 8
TabWidth: 8
ColumnLimit: 120
BreakBeforeBraces: Custom
AlignConsecutiveDeclarations: false
PointerAlignment: Left
BraceWrapping:
  AfterClass: true
  AfterControlStatement: false
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: true
  AfterUnion: false
  AfterExternBlock: false
  SplitEmptyFunction: true
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
