<form id="notification-form" class="flex flex-col gap-y-2 items-center items-center">
	<input name="message" class="py-1 px-3 border rounded-md border-[#828282]" placeholder="Notification message">
	<button type="submit" class="py-1 px-3 rounded-md bg-blue-400 border border-blue-500 transition-colors hover:bg-blue-500 duration-300 text-blue-900">Send notification</button>
</form>

<div id="error-box" class="py-1 px-4 rounded-md bg-red-400 border border-red-600 hidden">
	<p id="error-label" class="text-red-900"></p>
</div>
